[submodule ".config/omz-custom/themes/.config/omz-custom/themes/powerlevel10k"]
	path = .config/omz-custom/themes/.config/omz-custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule ".config/cheat/cheatsheets/community"]
	path = .config/cheat/cheatsheets/community
	url = https://github.com/cheat/cheatsheets
