[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:jvcarli/cosmonauta.nvim.git
[submodule "cheat/.config/cheat/cheatsheets/community"]
	path = cheat/.config/cheat/cheatsheets/community
	url = git@github.com:cheat/cheatsheets
[submodule "tmux/.config/tmux/tpm"]
	path = tmux/.config/tmux/tpm
	url = git@github.com:tmux-plugins/tpm
