""" IdeaVim plugin configuration

""" Leader key
" Set spacebar as the leader key
let mapleader = "\<Space>"

""" Line number config
" outer lines are displayed in relative numbers
" current line is show with the actual line number
set relativenumber number

""" Ideajoin, set ideajoin => TODO: learn more about Ideajoin

""" Plugins
" NERDTree emulation mode
set NERDTree
map <leader>n :NERDTreeToggle<CR>

""" IDE exclusive actions
" Map -> toggle the breakpoint on the current line
map <leader>b <Action>(ToggleLineBreakpoint)

" Map -> start debug
map <leader>d <Action>(Debug)

" Map -> hide all windows, showing only the current editor buffer
map <leader>e <Action>(HideAllWindows)

" Map -> mark as a bookmark (think of it as a favorite location)
map <leader>f <Action>(ToggleBookmark)

" Map -> split current tab horizontally
map <leader>h <Action>(SplitHorizontally)

" Map -> Reformat code
map <leader>r <Action>(RenameElement)

" Map -> open terminal window
map <leader>t <Action>(ActivateTerminalToolWindow)

" Map -> split current tab vertically
map <leader>v <Action>(SplitVertically)

" TODO: add more shortcuts to a more vim like experience
" See: https://github.com/MarcoIeni/intellimacs
" See: https://github.com/VSpaceCode/VSpaceCode

